<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩管理系统 - 登录</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-bg">
    <div class="welcome-text">
        <h1>Welcome Back</h1>
        <p>让成绩管理更简单</p>
    </div>
</div>

<div class="login-box">
    <div class="form-wrapper">
        <h2 class="login-title">用户登录</h2>

        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                    </div>
                    <input type="text" name="username" lay-verify="required" placeholder="管理员账号 / 学号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-password"></i>
                    </div>
                    <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div style="text-align: center;">
                    <input type="radio" name="type" value="1" title="管理员" checked>
                    <input type="radio" name="type" value="2" title="学生">
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit lay-filter="login">登 录</button>
            </div>
        </form>
    </div>
</div>

<script src="/component/layui/layui.js"></script>
<script>
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.jquery;

        // 监听提交
        form.on('submit(login)', function (data) {

            var loadIndex = layer.load(2); // 显示加载圈

            // 发送请求到我们刚刚改好的 /api/login 接口
            $.ajax({
                url: '/api/login',
                method: 'POST',
                data: data.field
            }).done(function (res) {
                layer.close(loadIndex);
                if (res.code === 0) {
                    layer.msg('登录成功', {icon: 1, time: 1000}, function () {
                        // 登录成功后统一跳到首页，首页会根据身份显示不同菜单
                        location.href = '/index';
                    });
                } else {
                    layer.msg(res.msg || '登录失败', {icon: 2, anim: 6});
                }
            }).fail(function () {
                layer.close(loadIndex);
                layer.msg('服务器连接失败', {icon: 2});
            });

            return false; // 阻止表单跳转
        });
    });
</script>
</body>
</html>